<!DOCTYPE html>
<html lang="en">

<head>
    <!-- CSS only -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styling/style.css">
    <title>TheDastkaars</title>
</head>

<body>
    <div class="grid-container">
        <header>
            <nav class="navbar justify-content-between">
                <a id="link" class="brand" href="./index.html"><i class="fa fa-fw fa-home " id="brand"></i>
                    Dastkaars</a>
                <form class="form-inline">
                    <a id="link" href="#"><i class="fa fa-fw fa-search"></i> Search</a>
                    <a id="link" href="./cart.html"><i class="fa fa-fw fa-cart-arrow-down aligm  "></i> Cart</a>
                    <a id="link" href="./login.html"><i class="fa fa-fw fa-user"></i> Login</a>
                </form>
        </header>
        <main>
            <div class="center rows" id="row">
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="../Template/images/p1.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product">
                            <h2>Wooden spoon</h2>
                        </a>
                        <div class="price">
                            120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="../Template/images/p1.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product">
                            <h2>Wooden spoon</h2>
                        </a>
                        <div class="price">
                            120
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="../Template/images/p1.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product">
                            <h2>Wooden spoon</h2>
                        </a>
                        <div class="price">
                            120
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="../Template/images/p1.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product">
                            <h2>Wooden spoon</h2>
                        </a>
                        <div class="price">
                            120
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="../Template/images/p1.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product">
                            <h2>Wooden spoon</h2>
                        </a>
                        <div class="price">
                            120
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="../Template/images/p1.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product">
                            <h2>Wooden spoon</h2>
                        </a>
                        <div class="price">
                            120
                        </div>
                    </div>
                </div>

                <div class="card">
                    <a href="product.html">
                        <img class="medium" src="../Template/images/p1.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product">
                            <h2>Wooden spoon</h2>
                        </a>
                        <div class="price">
                            120
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer-distributed fi ">
            <div class="fi">

                <div class="footer-left fi">

                    <h3>THE<span>Dastkaars</span></h3>

                    <p class="footer-links">
                        <a href="#">Home</a>
                        ·
                        <a href="#">Products</a>
                        ·
                        <a href="#">Pricing</a>
                        ·
                        <a href="#">About</a>
                        ·
                        <a href="#">Faq</a>
                        ·
                        <a href="#">Contact us</a>
                    </p>

                    <p class="footer-company-name">Dastkaars &copy; 2018</p>
                </div>

                <div class="footer-center fi">

                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p><span>Silawali </span> District Sargoodha</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>03024610981</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p><a href="mailto:thedastkaars@hotmail.com">thedastkaars@hotmail.com</a></p>
                    </div>

                </div>

                <div class="footer-right fi">

                    <p class="footer-company-about">
                        <span>Dastkaars</span>
                        All of our products are made with pure rose/sheesham wood. 100% handmade products.
                    </p>

                    <div class="footer-icons">

                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>


                    </div>
                </div>
        </footer>
    </div>
</body>

</html>